In [1]:
import pandas as pd
print(pd.__version__)

1.4.4

In [2]:
colours =pd.Series(["Red", "Blue", "Green"])

In [4]:
print(colours)

0      Red
1     Blue
2    Green
dtype: object

In [5]:
x= (["RED"])

In [6]:
y= (["WHITE"])

In [7]:
z= (["BLUE"])

In [8]:
print(x,y,z)

['RED'] ['WHITE'] ['BLUE']

In [9]:
car = pd.Series(["BMW", "Lamborghini","RollsRoyce"])

In [10]:
print(car)

0            BMW
1    Lamborghini
2     RollsRoyce
dtype: object

In [29]:
carscolours = pd.Dataframe({cars type:"car"})_({colours type:"colours"})

SyntaxError: invalid syntax (2865808390.py, line 1)

In [30]:
print(car,colours)

0            BMW
1    Lamborghini
2     RollsRoyce
dtype: object 0      Red
1     Blue
2    Green
dtype: object

In [20]:
import pandas as pd

In [31]:
DataFrame =pd.read_csv("C:/Users/Administrator/Desktop/mbcet_project_main/mbcet_project_main/car_sales.csv")

In [33]:
DataFrame.head()

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00